/* PLUS JAKARTA SANS */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --color-primary: #2e5899;
  --color-secondary: #d20030;
  --color-tertiary: #13b295;
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #ffffff;
}

html {
  /* line-height: 1; */
  -webkit-text-size-adjust: 100%;
  /* -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4; */
  font-weight: 400;
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.markdownTitle h2 {
  @apply mt-4 text-lg font-bold md:text-xl;
}

.markdownh3 h3 {
  @apply mt-2 text-base font-bold md:text-lg;
}

.markdownHyper a {
  @apply text-secondary-red underline;
}

.markdownol ol {
  list-style-type: decimal;
  list-style: decimal;
  margin-left: 16px;
}

.markdownli li {
  list-style-type: disc;
  list-style: disc;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-zoomIn {
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animated-fadein-down {
  animation: fadeInDown 1s ease-in-out;
}

.animated-fadeout-down {
  animation: fadeOutDown 1s ease-in-out;
}

.splide__arrow {
  background: var(--color-primary) !important;
  border: 0 !important;
  z-index: 100;
  width: 20px !important;
  height: 20px !important;
}

.splide__arrow svg {
  fill: white !important;
  width: 8px !important;
}

.splide__pagination__page {
  background-color: var(--color-primary) !important;
}

.splide__pagination__page.is-active {
  background-color: var(--color-tertiary) !important;
}
